/* post */

.post {
  &-detail {
    &__featured-image {
      max-width: 100%;
    }

    &__url {
      display: flex;
      align-items: center;
      height: 35px;
      margin-bottom: 10px;
    }

    &__permalink-text {
      padding-right: 10px;
    }

    &__slug {
      display: inline-block;
      margin-bottom: 0;
      width: 100%;

      textarea {
        height: 20px;
      }
    }

    &__editor {
      height: 400px;
      --ck-color-text: $primary-text-color;
      --ck-color-toolbar-background: $light-bg;
      --ck-color-base-background: $light-bg;
      --ck-color-base-border: $primary-text-color;
      --ck-color-toolbar-border: $primary-text-color;

      .ck.ck-toolbar {
        border: 0.5px solid $primary-text-color;
      }
    }

    &__postbox {
      background-color: $light-bg;
      margin-bottom: 15px;
      box-shadow: $base-shadow;
      border-radius: 4px;
      padding: 10px;

      &__header {
        font-weight: bold;
        padding-bottom: 10px;
      }

      &__content {
        padding-top: 10px;
      }

      &__content-item + &__content-item {
        padding-top: 10px;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
