<nz-layout [class.collapsed]="isCollapsed">
  <nz-header>
    <a class="ant-layout-header__logo">
      {{ isCollapsed ? 'A' : 'Admin Panel' }}
    </a>
    <div class="ant-layout-header__nav-wrap">
      <ul class="ant-layout-header__nav">
        <li class="ant-layout-header__nav-item"></li>
      </ul>
      <ul class="ant-layout-header__nav">
        <li class="ant-layout-header__nav-item"
            nz-dropdown
            [nzDropdownMenu]="headerUserMenu"
            nzTooltipPlacement="bottomRight">
          <nz-avatar class="ant-layout__user-avatar"
                     [nzSrc]="activeUser.avatar"
                     [nzSize]="32" nzIcon="user">
          </nz-avatar>
          {{ activeUser?.fullName }}
        </li>
        <nz-dropdown-menu #headerUserMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="openDrawer()">
              <i nz-icon nzType="setting"></i>Account Settings
            </li>
            <li nz-menu-item (click)="logOut()">
              <i nz-icon nzType="logout"></i>Log Out
            </li>
          </ul>
        </nz-dropdown-menu>
      </ul>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsible]="true" [(nzCollapsed)]="isCollapsed" nzTheme="light">
      <div class="ant-layout-sider__user"
           nz-dropdown
           [nzDropdownMenu]="sidebarUserMenu"
           nzTooltipPlacement="bottomLeft"
           nzTrigger="click">
        <nz-avatar [class.ant-layout__user-avatar]="!isCollapsed"
                   [nzSize]="32"
                   [nzSrc]="activeUser.avatar"
                   nzIcon="user"></nz-avatar>
        <div class="ant-layout-sider__user-info" *ngIf="!isCollapsed">
          <strong>{{ activeUser?.fullName }}</strong>
          <div>{{ activeUser?.displayRoles }}</div>
        </div>
      </div>
      <nz-dropdown-menu #sidebarUserMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="openDrawer()">
            <i nz-icon nzType="setting"></i> Account Settings
          </li>
          <li nz-menu-item (click)="logOut()">
            <i nz-icon nzType="logout"></i> Log Out
          </li>
        </ul>
      </nz-dropdown-menu>
      <ul nz-menu [nzMode]="'vertical'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/dashboard" routerLinkActive="ant-menu-item-selected"
            [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''">
        <span title>
          <i nz-icon [style.font-size]="isCollapsed ? '24px' : ''" nzType="dashboard"></i>
          <span>Dashboard</span>
        </span>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/posts" routerLinkActive="ant-menu-item-selected"
            [nzTooltipTitle]="isCollapsed ? 'Posts' : ''">
        <span title>
          <i nz-icon [style.font-size]="isCollapsed ? '24px' : ''" nzType="pushpin"></i>
          <span>Posts</span>
        </span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<nz-drawer
        [nzClosable]="false"
        [nzVisible]="showSettingsDrawer"
        nzPlacement="right"
        (nzOnClose)="closeDrawer()"
        [nzWidth]="400"
>
  <form nz-form [formGroup]="profileForm" class="custom-form">
    <h3>Personal Info</h3>
    <nz-form-item nz-row nzAlign="middle">
      <div nz-col nzSpan="6">
        <nz-avatar
                [nzSrc]="activeUser.avatar"
                [nzSize]="64" nzIcon="user">
        </nz-avatar>
      </div>
      <div nz-col nzSpan="18">
        <h4>{{ activeUser.fullName }}</h4>
        <span>{{ activeUser.email }}</span>
      </div>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8" nzRequired>Name</nz-form-label>
      <nz-form-control nz-col nzSpan="24" nzErrorTip="Please enter name">
        <input formControlName="name" nz-input placeholder="Please enter name" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8" nzRequired>Surname</nz-form-label>
      <nz-form-control nz-col nzSpan="24" nzErrorTip="Please enter surname">
        <input formControlName="surname" nz-input placeholder="Please enter surname" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Bio</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <textarea rows="3" nz-input formControlName="bio" placeholder="Please enter bio"></textarea>
      </nz-form-control>
    </nz-form-item>
    <h3>Contact Info</h3>
    <nz-form-item nz-row >
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Facebook URL</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="facebook" nz-input placeholder="Please enter Facebook url" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Twitter URL</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="twitter" nz-input placeholder="Please enter Twitter url" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Instagram URL</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="instagram" nz-input placeholder="Please enter Instagram url" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">LinkedIn URL</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="linkedin" nz-input placeholder="Please enter LinkedIn url" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Github URL</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="github" nz-input placeholder="Please enter GitHub url" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label class="custom-form__left-align-label" nz-col nzSpan="8">Website</nz-form-label>
      <nz-form-control nz-col nzSpan="16">
        <input formControlName="website" nz-input placeholder="Please enter website" autocomplete="off"/>
      </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify="end" [nzGutter]="8">
      <div nz-col nzSpan="6">
        <button nz-button
                nzType="primary"
                nzBlock
                type="submit"
                [disabled]="buttonLoading"
                (click)="closeDrawer()"> Cancel
        </button>
      </div>
      <div nz-col nzSpan="6">
        <button nz-button
                nzType="primary"
                type="submit"
                nzBlock
                (click)="updateProfile()"
                [nzLoading]="buttonLoading"> Update
        </button>
      </div>
    </div>
  </form>

</nz-drawer>
