<div class="dashboard">
    <div class="grid-container">
        <div class="grid-item grid-item--quarter">
            <div class="dashboard__statistic-item">
                <div>
                    <h3>324</h3>
                    Total Reading
                </div>
                <i nz-icon nzType="read"></i>
            </div>
        </div>
        <div class="grid-item grid-item--quarter">
            <div class="dashboard__statistic-item">
                <div>
                    <h3>324</h3>
                    Posts
                </div>
                <i nz-icon nzType="file-text"></i>
            </div>
        </div>
        <div class="grid-item grid-item--quarter">
            <div class="dashboard__statistic-item">
                <div>
                    <h3>324</h3>
                    Comments
                </div>
                <i nz-icon nzType="message"></i>
            </div>
        </div>
        <div class="grid-item grid-item--quarter">
            <div class="dashboard__statistic-item">
                <div>
                    <h3>324</h3>
                    in moderation
                </div>
                <i nz-icon nzType="security-scan"></i>
            </div>
        </div>
    </div>
</div>
