/* ant avatar */

.ant {
  &-table thead > tr > th,
  &-table tbody > tr > td, {
    border: none;
  }

  &-menu-vertical {
   border-color: $secondary-bg;
  }

  &-layout {
    min-height: 100%;
    background-color: $body-bg;

    &-header {
      background-color: $header-bg;
      color: white;
      padding: 0 16px;
      z-index: 19;
      display: flex;
      align-items: center;
      width: 100%;
      height: 64px;
      box-shadow: $base-shadow;

      &__logo {
        display: block;
        background: $logo-bg;
        color: $logo-color;
        width: 200px;
        margin-left: -16px;
        transition: width .2s cubic-bezier(.25, 0, .15, 1);
        font-size: 1.5em;
        text-align: center;

        .collapsed & {
          width: 80px;
        }
      }

      &__nav-wrap {
        display: flex;
        flex: 1;
        justify-content: space-between;
      }

      &__nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      &__nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        padding: 0 8px;
        border-radius: 2px;
        outline: 0;
        cursor: pointer;
        transition: background-color .3s;
      }
    }

    &-sider {
      width: 200px;
      background-color: $sidebar-bg;

      &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 24px;
        cursor: pointer;
      }

      &__user-info {
        flex: 1;
        overflow: hidden;
        color: $primary-text-color;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .ant-menu-inline-collapsed > .ant-menu-item {
        padding: 0 28px !important;
      }
    }

    &-content {
      padding-top: 24px;
      padding-bottom: 24px;
      margin: 0 20px;
    }

    &__user-avatar {
      margin-right: 8px;
    }
  }

  &-drawer {
    &-content {
      background-color: $light-bg;
    }
  }
}
