/* flex containers */

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
