/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* Color */
$brand-color: #53e0db;
$grey: #eeeeee;
$med-grey: #bbbbbb;
$dark-grey: #777777;

$background-color: #191919;

$info: #24B6F7;
$warning: #ffcc66;
$danger: #ee4444;

/* Dimensions */
$sidebar-width: 200px;
$sidebar-width-collapsed: 80px;

/* Fonts */
$base-font: 'Roboto', 'Chinese Quote', -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
