/* #Base Rules for common HTML elements
   ========================================================================== */

body {
  font-size: 14px;
}

a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $primary-text-color;
}
